<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and  minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Oswald&display=swap" rel="stylesheet">

    <!-- Custom CSS Elements-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css" charset="utf-8" />

    <title>Portfolio</title>
</head>
<body>
    <div class="header">
        <a class="brand-logo" id="logo" href="/">
            <img src="../res/Logo.png" alt="Logo" width='200' height='200'>
        </a>
        <h3 style="align-self: center">Michael Ma is a developer and designer based in New York City</h3>
    </div>
    <div class="navbar">
        <a href="/"><h4>Portfolio</h4></a>
        <a href="/about"><h4 class="activebtn">About</h4></a>
        <a href="/contact"><h4>Contact</h4></a>
    </div>

    <div class="content-container biostart">
        <img src="../res/face.png" alt="Picture of Michael Ma" width='150' height='150' style="border-radius: 5px; opacity: 75%; margin-right: 2.5%;">
        <h5>Hi, I'm Michael. I love UI/UX, full stack development, and motion graphics.</h5>
    </div>

    <div class="biotext">
        <p1>I discovered programming and motion design during middle school. I was instantly hooked to this concept of being able to create something from nothing.</p1>
    </div>

    <div class="biotext">
        <p1>My projects have included intros, promos, websites, and mobile applications. Because most of my projects were started from scratch, my experience is spread out from UI/UX design to mobile/web development to presentation and promotion.</p1>
    </div>

    <div class="bioquote">
        <img src="../res/blockquote.PNG" width='100%' height='auto'>
    </div>

    <div class="biotext">
        <p1>Outside of the design and development realm, I enjoy listening to music, editing videos, and interacting with people.</p1>
    </div>

    <div class="biotext">
        <p1>I hope you enjoyed my website!</p1>
    </div>

    <div class="modernquote">
        <p>The desire to create is one of the deepest yearnings of the human soul</p>
        <p1>DIETER F. UCHTDORF</p1>
    </div>

    <!--
    <div id="quote">
        <div id="quotestart">
            <img src="../res/QuoteStart.png" width='auto' height='auto'>
        </div>

        <div id="layer2" class="bioquote">
            <h6>Michael was extremely thorough, thoughtful and easy to communicate with. I'd happily work with him again in the future.</h6>
        </div>

        <div id="quoteend">
            <img src="../res/QuoteEnd.png" width='auto' height='auto'>
        </div>
    </div>
    -->

    <div class="footer">
            <h2><a href="mailto: michael.ma@nyu.edu">michael.ma@nyu.edu</a> • <a href="tel:+1703-678-7031">+1 (703) 678 7031</a> • <a href="http://bit.ly/upworkmm">Upwork</a></h2>
    </div>
</body>
</html>