<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146895686-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-146895686-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and  minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Oswald&display=swap" rel="stylesheet">

    <!-- Custom CSS Elements-->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../res/browsericon.ico" type="image/x-icon">

    <title>Contact</title>
</head>
<body>
    <div class="header">
        <a class="brand-logo" id="logo" href="/">
            <img src="../res/Logo.png" alt="Logo" width='200' height='200'>
        </a>
        <h3 style="align-self: center">Michael Ma is a developer and designer based in New York City</h3>
    </div>
    <div class="navbar">
        <a href="/"><h4>Portfolio</h4></a>
        <a href="/about"><h4>About</h4></a>
        <a href="/contact"><h4 class="activebtn">Contact</h4></a>
    </div>

    <div class="content-container content-links">
        <p2>If anything interests you, feel free to reach out to me at</p2>
    </div>

    <div class="content-links">
        <a href="mailto: michael.ma@nyu.edu"><p3>michael.ma@nyu.edu</p3></a>
    </div>

    <div class="content-links">
            <a href="tel:+1703-678-7031"><p3>+1 (703) 678 7031</p3></a>
    </div>

    <div class="content-links">
            <a href="http://bit.ly/upworkmm"><p3>Upwork</p3></a>
    </div>
</body>
</html>