<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146895686-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146895686-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://uxfol.io/dist/styles-c49c230568ce1cda7fdc77c9dcdbed22.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../res/browsericon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
	<style>
			:root {
                --title-font: "Source Sans Pro", sans-serif;
                --body-font: 'PT Serif', serif;
			}
            .p_section--header-main .text-container h1 {
                color: #ffffff;
                text-align: center;
            }
            .p_section--header-main .text-container h2 {
                color: #ffffff;
                text-align: center;
            }
			@media (min-width: 992px) {
                .p_section--header-main .text-container h1 {
					font-size: 5.5rem;
                }
                .p_section--header-main .text-container h2 {
                    font-size: 1.5rem;
                }
                .p_section--header-main .text-container {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
			}
    </style>
</head>
<body>
	<main>
		<div class="project project_with_theme">
    <section id="section-0" class="p_section p_section--header-main header-main">

        <div class="container-fluid">
            <div class="row">
                <div class="project-owner">
                    <div class="owner" onclick="navigateBack()">
                        <div class="owner-info ">
                                <div class="owner-name">Michael Ma</div>
                                <div class="owner-company">UX designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="image-container image-container--fluid bg-color" style="background-color: #ff864a">
                        <div class="main-grad"></div>

                    <div class="text-wrapper">
                        <div class="text-container txt-on-img">
                            <h1>Revolutionizing<br />Head Start.</h1>
                            <h2>Designing and developing the first mobile app of its kind.</h2>
                        </div>
                    </div>

                </div>
            </div>
    </section>
        <section id="section-1" class="p_section p_section--text text" style="padding-top: 100px;  padding-bottom: 0px;">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-container">
                            <div class="text"><h3>The Situation</h3><p>When it comes to data, there's two types of approaches. The good old fashioned pen and paper or the power of digitization. As Head Start software slowly evolved in recent years, more and more aspects of Head Start jobs became digitized. Problems begin to arise when Head Start workers are forced to ride the boundary between the two approaches.</p><p></p></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section id="section-2" class="p_section p_section--text text" style=" ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-container">
                            <div class="text"><p><b>The Challenge</b></p><p><span style="color: var(--headline-color); font-family: var(--title-font); font-size: 1.875rem; font-weight: 700;">Take the Weight off the Users</span></p><p>Our goal for this application was to fully digitize the home visit process so Family Service Workers (FSWs) would no longer have to spend hours transferring data from paper to software.</p><p>Head Start deals with massive amounts of data from classrooms, to children, health, and more. Combine that with the general Head Start worker population who are unfamiliar with tech and feel more comfortable with stacks of binders and folders, despite their inefficiency, and you have the prime problem of Head Start software.</p><p>From a wider perspective, our goals were to:</p><p></p><ol><li>Make it simple, streamlined, and easy to use for every user<br></li><li>Let users access and edit huge amounts of data with little effort<br></li><li>Build trust between Head Start workers and technology</li></ol><h3><b>My Role</b></h3><p>I led the UI/UX design and Android app development of this project.</p><p>I was responsible for all aspects of the design and development phases of this project. My work included user research &amp; personas, information architecture, customer journey maps, wireframing, user feedback, and high fidelity prototypes.</p><p>The tools I used in this project include Adobe XD, Zeplin, Adobe Illustrator, Adobe Photoshop, Android Studio, and Trello.</p><p></p></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <section id="section-3" class="p_section p_section--horizontal-split flipped-true " style=" ">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 media-col order-md-2">
                    <div class="media-container display-mode--default  " style=" ">
        <div class="media-box  ">
        <img src="https://storage.googleapis.com/uxfolio/5d75b5b850f46c0004e2db8c/5d75b5e650f46c0004e2db8d/6g3zynHc2HzECUgw.png" alt="An example of how home visit data can be overwhelming.">
        </div>
                            <div class="caption-box">
                                <div class="media-caption">
                                    <div class="text"><p>An example of how home visit data can be overwhelming.</p></div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 txt-col">
                    <div class="text-container">
                        <div class="text"><h3><p>Identifying the Problem</p><p><span style="font-weight: normal;">When it comes to Head Start, the biggest problem is the sheer amount of data. Workers must diligently track statistics for every single child enrolled in their program. Family Service workers must track a minimum of 46 home visits a year for every child. Presenting overwhelming amounts of data in a way that the user's won't feel overwhelmed is always the biggest challenge for designing Head Start software.</span></p></h3></div>
                    </div>
                </div>

            </div>
        </div>

    </section>
        <section id="section-4" class="p_section p_section--text text" style=" ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-container">
                            <div class="text"><h3>User Interviews</h3><p>When I had a chance to talk with FSWs in Nebraska, I was surprised to hear that they all track home visit information on pen and paper. After returning from the home visit, they manually enter in their hand-written notes into the head start software.&nbsp;</p><p>After more research, I found that this practice occurred for two reasons:</p><p></p><ol><li>Home visits often occur in areas without an internet connection or cellular service</li><li>Users don't feel comfortable enough with technology</li></ol><p>From here, the idea was born:</p><p>Create a mobile application that will fully digitize the home visits process and make it usable by anyone, anywhere.</p><p></p><p></p><p></p></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <section id="section-5" class="p_section p_section--horizontal-split flipped-false " style=" ">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 media-col ">
                    <div class="media-container display-mode--default  " style=" ">
        <div class="media-box  ">
        <img src="https://storage.googleapis.com/uxfolio/5d75b5b850f46c0004e2db8c/5d75b5e650f46c0004e2db8d/ubpgopXWJoMYiHyF.png" alt="User Persona">
        </div>
                            <div class="caption-box">
                                <div class="media-caption">
                                    <div class="text"><p>User <pwa data-pwa-id="pwa-73436709315B36A9C49064089A52EAD9" data-pwa-rule-id="CAPITALIZATION_CE" data-pwa-category="grammar" data-pwa-hint="Possible capitalization mistake" data-pwa-suggestions="persona" data-pwa-heavy="true" data-pwa-dictionary-word="Persona" class="pwa-mark pwa-mark-done">Persona</pwa></p></div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 txt-col">
                    <div class="text-container">
                        <div class="text"><h3>Personas</h3><p>From the user interviews, I created a general user persona that <pwa data-pwa-id="pwa-EB87918EAB58A6847816247F70533D7B" data-pwa-rule-id="SVA_CE" data-pwa-category="grammar" data-pwa-hint="Incorrect verb form" data-pwa-suggestions="reflected" data-pwa-heavy="true" data-pwa-dictionary-word="reflect" class="pwa-mark">reflects</pwa> a majority of the user base. Some info for each persona <pwa data-pwa-id="pwa-D4F22F47ACF0BB8CB7183091921C123A" data-pwa-rule-id="SVA_CE" data-pwa-category="grammar" data-pwa-hint="Incorrect verb form" data-pwa-suggestions="includes" data-pwa-heavy="true" data-pwa-dictionary-word="include" class="pwa-mark">include</pwa>:</p><p></p><ul><li><pwa data-pwa-id="pwa-215675692E36C3EC6003E558B4CEFA25" data-pwa-rule-id="CAPITALIZATION_CE" data-pwa-category="grammar" data-pwa-hint="Possible capitalization mistake" data-pwa-suggestions="age" data-pwa-heavy="true" data-pwa-dictionary-word="Age" class="pwa-mark pwa-mark-done">Age</pwa></li><li>Location</li><li>Position (All FSWs) &amp; Responsibilities</li><li><pwa data-pwa-id="pwa-AEA30EA209EB48A3EBFC6F4AEC99DB55" data-pwa-rule-id="MISSING_SPACE_CE" data-pwa-category="grammar" data-pwa-hint="Possible missing space" data-pwa-suggestions="Problems / Frustrations" data-pwa-heavy="true" data-pwa-dictionary-word="Problems/Frustrations" class="pwa-mark pwa-mark-done">Problems/Frustrations</pwa></li></ul><p></p></div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section id="section-6" class="p_section p_section--horizontal-split flipped-true " style=" ">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 media-col order-md-2">
                    <div class="media-container display-mode--default  " style=" ">
        <div class="media-box  ">
        <img src="https://storage.googleapis.com/uxfolio/5d75b5b850f46c0004e2db8c/5d75b5e650f46c0004e2db8d/XeOqSUrnSCHJHaGD.png" alt="Tell The Story of Your Design">
        </div>
                    </div>
                </div>
                <div class="col-lg-6 txt-col">
                    <div class="text-container">
                        <div class="text"><h3>Building Trust</h3><p><b>How can we build trust with our users?</b></p><p>I created this mind map based on a graphic I found online in order&nbsp;to better visualize the components of trust and how they can be used to create a better experience.</p><p></p></div>
                    </div>
                </div>

            </div>
        </div>

    </section>
        <section id="section-7" class="p_section p_section--text text" style=" ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-container">
                            <div class="text"><h3>Customer Journey</h3><p></p><p>All it takes is one successful Home Visit to plant the seed of trust between FSWs and unfamiliar tech. Most FSWs see technology as confusing as their backgrounds don't expose them much to tech. When they begin to realize how efficient, effective, and reliable the mobile application is, they'll be more than happy to keep using the product.</p><p></p></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <section id="section-8" class="p_section p_section--image image " style=" ">

        <div class="container-fluid">
            <div class="row">
                <div class="media-container image-container--fluid display-mode--default  " style=" ">
        <div class="media-box  ">
        <img src="https://storage.googleapis.com/uxfolio/5d75b5b850f46c0004e2db8c/5d75b5e650f46c0004e2db8d/jrByZYHyCwcJooIc.png" alt="Tell The Story of Your Design">
        </div>
                </div>
            </div>
        </div>

    <section id="section-8" class="p_section p_section--image image " style=" ">

            <div class="container-fluid">
                <div class="row">
                    <div class="media-container image-container--fluid display-mode--default  " style=" ">
                        <p>The rest of this page is currently under construction...</p>
                </div>
                    </div>
                </div>
            </div>
	</footer>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

        function getCurrentPortfolioId() {
            let fullPath = window.location.pathname.split('/');
            if(fullPath[2].length > 8) {
                return fullPath[2].slice(0,8);
            } else {
                return null;
            }
        }

        function navigateBack() {
		    window.history.back();
        }

        function navigeteToProject(projectId, projectName) {
            let currentPortfolioId = getCurrentPortfolioId();
            var location = "/project/";
            if(currentPortfolioId) {
                location += currentPortfolioId;
            }
            location += projectId;
            location += ("/" + projectName);

			window.location.href = location;
		}

        function navigationStickyHeader() {
			// sticky header
			var startPoint = document.getElementsByClassName('sticky-header'),
				navigationItems = document.getElementsByClassName('navigation-steps');
			for (var i = 0; i < startPoint.length; i++) {
				var target = startPoint[i].querySelector('.navigation-steps'),
					lastStep = 'section-'+startPoint[i].getAttribute('data-end'),
					startY = startPoint[i].getBoundingClientRect().top,  // stick starts here
					endY = startPoint[i].getAttribute('data-end') ? document.getElementById(lastStep).getBoundingClientRect().top + document.getElementById(lastStep).getBoundingClientRect().height - 70 : 0, // stick ends here
					steps = navigationItems[i].getElementsByClassName('nav-step');
				if (startY >= 0) {
					target.classList.remove('sticked');
				} else if (endY <= 0) {
					target.classList.add('sticked-hidden');
				} else if (startY <= 0) {
					target.classList.remove('sticked-hidden');
					target.classList.add('sticked');
					for (var k = 0; k < steps.length; k++) {
						var currentStickyStep = target.getElementsByClassName('nav-step')[k],
							stepAnchor = document.getElementById(currentStickyStep.querySelector('.step-link').getAttribute('href').split('#')[1]),
							stepY = stepAnchor ? stepAnchor.getBoundingClientRect().y : window.innerHeight + 1;
						( stepY <= 70 ) ? currentStickyStep.classList.add('checked') : currentStickyStep.classList.remove('checked');
					}
				}
			}
        }

        document.addEventListener('scroll', navigationStickyHeader);

        document.addEventListener("DOMContentLoaded", () => {
            scrollToItem('.step-link', 300, 60);
        });

        function scrollToItem (selector, duration, fps) {
            let anchors = [].slice.call(document.querySelectorAll(selector));
            for (let anchor of anchors) {
                anchor.addEventListener('click', scrollAnimation);
            }
            function scrollAnimation(e) {
                e.preventDefault();
                let target = document.querySelector(this.getAttribute('href'));
                let element = target, targetOffset = 0;
                while (element && element !== document.body) {
                    targetOffset += element.offsetTop;
                    element = element.offsetParent;
                }
                let currentOffset = window.pageYOffset || document.body.scrollTop;
                let difference = Math.abs(currentOffset - targetOffset);
                if (!difference) return;
                let frames = parseInt(duration / 1000 * fps);
                let tick = duration / frames;
                let perFrame = difference / frames;
                let direction = (targetOffset > currentOffset) ? 1 : -1;
                let timer = setInterval(() => {
                    currentOffset = window.pageYOffset || document.body.scrollTop;
                    difference = Math.abs(currentOffset - targetOffset + 69);
                    if (difference < perFrame) {
                        scrollBy(0, difference * direction);
                        clearInterval(timer);
                        return;
                    }
                    scrollBy(0, perFrame * direction);
                    if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
                }, tick);
            }
        }

        var galleries = document.getElementsByClassName("carousel-gallery");
        if(galleries.length > 0) {
			Array.prototype.forEach.call(galleries, function(elem) {
			    let imageNumber = 4;
			    if(elem.classList.contains('desktop-mockup')) {
			        imageNumber = 2;
				}
				new Glide(elem, {
					type: 'carousel',
					startAt: 0,
					perView: imageNumber,
					breakpoints: {
					    576: {perView: imageNumber == 2 ? 1 : 2},
						768: {perView: imageNumber == 2 ? imageNumber : 3},
						1200: {perView: imageNumber}
					},
					focusAt: 'center',
					gap: 30
				}).mount();
			});
        }

        function scrollPageToTop() {
            let isSmoothScrollSupported = 'scrollBehavior' in document.documentElement.style;
            if (isSmoothScrollSupported) {
                window.scroll({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            } else {
                smoothScroll(0, -1);
            }
        }

        function smoothScroll(targetOffset, direction) {
            let currentOffset = window.pageYOffset || document.body.scrollTop;
            let difference = Math.abs(currentOffset - targetOffset);
            if (!difference) return;
            let frames = parseInt(400 / 1000 * 60);
            let tick = 400 / frames;
            let perFrame = difference / frames;
            let timer = setInterval(() => {
                if (direction > 0) {
                    if (window.pageYOffset >= targetOffset) {
                        scrollBy(0, (targetOffset - difference) * direction);
                        clearInterval(timer);
                        return;
                    }
                } else {
                    if (window.pageYOffset <= 0) {
                        scrollBy(0, difference * direction);
                        clearInterval(timer);
                        return;
                    }
				}
                scrollBy(0, perFrame * direction);
                if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
            }, tick);
        }

        function scrollDistance() {
            if (window.pageYOffset > 1200) {
                if(document.querySelector('.scroll-to-top').classList.contains('visible')) return;
                document.querySelector('.scroll-to-top').classList.add("visible");
			} else {
                document.querySelector('.scroll-to-top').classList.remove("visible");
			}
        }
        document.addEventListener('scroll', scrollDistance);

        function bindEvent(e) {
            if(e.origin !== 'https://uxstudioteam.com') return;
            try {
                eval('(' + decodeURI(e.data) + ')();');
            } catch(e) {}
        }
        window.addEventListener('message', bindEvent, false);

	</script>

</body>
</html>
