<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and  minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Oswald&display=swap" rel="stylesheet">

    <!-- Custom CSS Elements-->
    <link rel="stylesheet" href="../css/styles.css">

    <title>Portfolio</title>
</head>
<body>
    <div class="header">
        <a class="brand-logo" id="logo" href="/">
            <img src="../res/Logo.png" alt="Logo" width='200' height='200'>
        </a>
        <h3 style="align-self: center">Michael Ma is a developer and designer based in New York City</h3>
    </div>
    <div class="navbar">
        <a href="/"><h4 class="activebtn">Portfolio</h4></a>
        <a href="/about"><h4>About</h4></a>
        <a href="/contact"><h4>Contact</h4></a>
    </div>
    <div class="content-container">
        <card style="background-image: url('../res/Capture.png'); 
        opacity: 75%;
        -ms-background-position-x: center;
        -ms-background-position-y: bottom;
        background-position: center bottom;
        background-size: cover;">
            <img src="../res/Logo6.png" alt="Project Logo" width='150' height='150' style="align-self: center;">            
            <h1 style="align-self: center">Building a Portfolio Website</h1>
            <img src="../res/Logo6.png" alt="Project Logo" width='150' height='150' style="align-self: center; opacity: 0">
        </card>
    </div>
    <div class="content-container">
        <card style="background-image: url('../res/hsclassroom.png'); 
        opacity: 55%;
        -ms-background-position-x: center;
        -ms-background-position-y: bottom;
        background-position: center bottom;
        background-size: cover;">
            <img src="../res/hslogo.PNG" alt="Project Logo" width='150' height='150' style="align-self: center; border-radius: 20px; border: 20px solid #000000;">            
            <h1 style="align-self: center">Home Visits Mobile App</h1>
            <img src="../res/hslogo.PNG" alt="Project Logo" width='150' height='150' style="align-self: center; opacity: 0">
        </card>
    </div>
    <div class="footer">
        <h2><a href="mailto: michael.ma@nyu.edu">michael.ma@nyu.edu</a> • <a href="tel:+1703-678-7031">+1 (703) 678 7031</a> • <a href="http://bit.ly/upworkmm">Upwork</a></h2>
    </div>
</body>
</html>